In [1]:
import pandas as pd
from selenium import webdriver                   
from selenium.webdriver.common.keys import Keys   
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities

In [2]:
driver = webdriver.Firefox(executable_path= "geckodriver.exe")
driver.maximize_window()
driver.get('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [9]:
# Read Html to generate S&P 500 table: 
table = driver.find_element_by_id("mw-content-text").get_attribute('innerHTML')
tables  = pd.read_html(table)
sp500_ticker_df = tables[0]
sp500_ticker_df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,1952

In [23]:
symbol_df = sp500_ticker_df.loc[:, ['Symbol', 'Security', 'GICS Sector']]
symbol_df

    Symbol             Security             GICS Sector
0      MMM           3M Company             Industrials
1      ABT  Abbott Laboratories             Health Care
2     ABBV          AbbVie Inc.             Health Care
3     ABMD          ABIOMED Inc             Health Care
4      ACN        Accenture plc  Information Technology
..     ...                  ...                     ...
500    YUM      Yum! Brands Inc  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [24]:
symbol_df.rename(columns = {'GICS Sector': 'Sector'}, inplace=True)

In [25]:
symbol_df

    Symbol             Security                  Sector
0      MMM           3M Company             Industrials
1      ABT  Abbott Laboratories             Health Care
2     ABBV          AbbVie Inc.             Health Care
3     ABMD          ABIOMED Inc             Health Care
4      ACN        Accenture plc  Information Technology
..     ...                  ...                     ...
500    YUM      Yum! Brands Inc  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [26]:
driver.quit()